aside {
  width: 160%;
  height: auto;
  background-color: #367474;
  color: #ffffff;
}

aside hr {
  color: rgb(255, 255, 255);
}
article {
  margin: 20px;
  font-size: 25px;
}
body {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 50%;
}

#photo {
  text-align: center;
}

#aside_without_photo {
  padding: 3vw;
  font-size: 1.05em;
}

article hr {
  width: 400px;
  margin: 0px;
  color: #367474;
}

.texte_gris {
  color: #545454;
  font-size: 1.6rem;
}

article h2 {
  color: #545454;
  position: relative;
  font-size: 2.4rem;
  margin-bottom: 10px;
  animation-name: animation;
  animation-duration: 2s;
}
@keyframes animation {
  0% {
    opacity: 0.3;
    left: 600px;
  }
  25% {
    opacity: 0.33;
  }

  75% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

#developpeur {
  font-size: 1.3rem;
  font-weight: normal;
  color: #545454;
  margin-top: 5px;
  margin-bottom: 0px;
}

#nom {
  color: #163853;
  font-weight: normal;
  animation-name: anime1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  0% {
    color: #163853;
  }
  25% {
    color: #707272;
  }

  75% {
    color: black;
  }
  100% {
    color: #163853;
  }
}
#prenom {
  color: #545454;
  animation-name: anime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    color: #367474;
  }
  25% {
    color: rgb(0, 0, 0);
  }

  75% {
    color: #707272;
  }
  100% {
    color: #367474;
  }
}

#petit_trait {
  width: 100px;
  color: #367474;
  border-bottom-width: 2px;
  margin-left: 0px;
}

#contact {
  color: #ffffff;
}
#contact:hover {
  color: black;
}

#linkedin {
  color: #ffffff;
}
#linkedin:hover {
  color: black;
}

header {
  margin-left: 45px;
}

#boite {
  display: flex;

  flex-direction: row-reverse;
}
